<div id="review-finish" class='hidden'>
  <h5>Review & Finish</h5>
</div>

<div id="review-features">
  <h5>FEATURES</h5>
  <ul>
    <li>Inspected and tuned</li>
    <li>Shipped Ready to Ride</li>
    <li>FREE SHIPPING in the U.S.</li>
  </ul>
</div>

<div id="review-send-setup" class='hidden'>Send your current setup</div>

<div id="review-share-setup" class='hidden'>Share your current setup</div>
