<div id="review-finish">
  <h5>Review & Finish</h5>
</div>

<div id="features">
  <p>Features</p>
  <ul>
    <li>Inspected and tuned</li>
    <li>Shipped Ready to Ride</li>
    <li>FREE SHIPPING in the U.S.</li>
  </ul>
</div>

<div id="send-setup"><p>Send your current setup</p></div>

<div id="share-setup"><p>Share your current setup</p></div>
