<div id="wizard-frame">
  
  <div id="wizard-header">
    <div class="header-text">
      <h2><%= name %></h2>
    </div>
    
    <div class="wizard-header-right">
      <div class="subtotal">
        <h3>Subtotal: $yy.xx</h3>
      </div>
      <div class="add-cart">
        <button value="Add To Cart">Add To Cart</button>
      </div>
    </div>
  </div>
  
  <div class="wizard-box">
    <div id="steps"></div>
    <div id="review-share-box"></div></div>
  </div>
</div>


<div id="product-selection">

  <div id="product-container">
    <a href="#" class="product-arrow-left-link">
      <span class="product-arrow-left"></span>
    </a>
    <div id="product-list"></div>
    <a href="#" class="product-arrow-right-link">
      <span class="product-arrow-right"></span>
    </a>
  </div>
</div>

<div id="product-detail-frame"></div>
