<div id="wizard-frame">
  <div id="wizard-header">
    <div class="header-text">
      
      <h2><%= name %></h2>
    

    </div>
    <div class="subtotal">
      <h3>Subtotal: $yy.xx</h3>
    </div>
    <div class="add-cart">
      <button value="Add To Cart">Add To Cart</button>
    </div>
  </div>
  
  <div class="wizard-box">
    
    <div id="steps"></div>
  
    <div id="review-share-box">
      <div id="review-finish">
        <h5>Review & Finish</h5>
      </div>
      <div id="features">
        <p>Features</p>
        <ul>
          <li>Inspected and tuned</li>
          <li>Shipped Ready to Ride</li>
          <li>FREE SHIPPING in the U.S.</li>
        </ul>
      </div>
      <div id="send-setup">
        <p>Send your current setup</p>
      </div>
      <div id="share-setup">
        <p>Share your current setup</p>
      </div>
    </div>

  </div>
</div>



<div id="product-selection">
  <div id="selection-header">
    <h2>Choose your trucks:</h2>
    <h5>Sort by:</h5>
    <select id="product-sort">
      <option value="recommended">Recommended</option>
      <option value="size">Size</option>
    </select>
    <h5>Filter by:</h5>
    <select id="product-filter">
      <option value="recommended">Recommended</option>
      <option value="size">Size</option>
    </select>
  </div>
  <br class="clear" />
  <!-- The list of products will populate here -->
  <div id="product-container">
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="product-box">
        <div class="product-stock">
          Stock
        </div>
        <div class="product-image">
          <img src="" />
        </div>
        <div class="product-description">
          <img src="" />
          <p>70mm MuirSkate Offset Freeride Wheels</p>
        </div>
        <div class="product-price-difference">
          <p>Same Price</p>
        </div>
      </div>
    </div>
    <a href="#" class="product-arrow-left-link">
      <span class="product-arrow-left"></span>
    </a>
  </div>
</div>

<div id="product-frame">
  <div class="left">
    <div class="product-photo">
      <img src="" />
    </div>
  </div>
  <div class="product-info right">
    <div class="product-name">
      <p>180mm Randal RII - Raw - Longboard Skateboard Truck</p>
    </div>
    <div class="upgrade-price">
      <p>Upgrade Price: Same Price</p>
    </div>
    <div class="product-option">
      <p>Truck Option</p>
      <select class="product-option-select">
        <option value="50">50</option>
        <option value="40">40</option>
      </select>
    </div>
    <div class="add-item">
      <button type="button">Add Item</button>
    </div>
    <div class="product-description">
      <h5>Description:</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a nibh in nisi vehicula pretium eleifend id libero. Donec in accumsan augue, et ornare tellus. Vivamus commodo libero neque, non dictum velit dictum non. In eget lacinia sem. Aenean a leo ut eros hendrerit sodales tristique ac velit. In blandit vestibulum libero, in sodales nibh blandit eget. Aliquam laoreet magna quis urna faucibus, vitae blandit sapien sodales. Sed ac gravida odio. Ut vel nisl ut turpis semper aliquam ac et nisl. Ut ultrices libero at varius sollicitudin. Praesent non aliquam quam.</p>

      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sed mauris eget metus aliquam posuere ac ut risus. Nulla lacinia blandit magna tincidunt pellentesque. Ut accumsan tortor et sem blandit, non scelerisque risus posuere. Nullam vulputate, dui quis pharetra commodo, arcu diam ultricies urna, dictum pretium neque nibh ac neque. Ut interdum magna sit amet leo ornare egestas. Vestibulum molestie sed diam vitae euismod. Sed interdum accumsan tempus. Nunc imperdiet enim a euismod imperdiet. Aliquam orci nibh, vehicula vel placerat nec, varius id magna. Cras accumsan pharetra dictum. Vivamus et venenatis arcu, vitae aliquet ligula. Sed eget ligula tortor. Duis elit enim, viverra eu feugiat a, cursus nec magna.</p>
    </div>
  </div>
  <br class="clear" />
</div>