<h1><%= name %></h1>

<div id="product-image">
  <img src="<%= attachment_url %>"></img>
</div>

<p><%= description %></p>

<button class="btn product-add">Add to Package</button>

<div id="product-detail-selection"></div>

