<div id="selection-header">
  <h2>Choose your:</h2>
  <div id="product-dropdowns">
    <h5>Sort by:</h5>
    <select id="product-sort">
      <option value="recommended">Recommended</option>
      <option value="size">Size</option>
    </select>
    <h5>Filter by:</h5>
    <select id="product-filter">
      <option value="recommended">Recommended</option>
      <option value="size">Size</option>
    </select>
  </div>
</div>
  
  <div id="product-list-container">
    <div id="product-list"></div>
  </div>

<br class="clear" />
