<div id="selection-header">
  <h2 id="taxon-name"></h2>
</div>
  
<div id="product-list-hide-scrollbar">
  <div id="product-list-container">
    <div id="product-arrow-left">
      <span class="product-arrow-left"></span>
    </div>
    <div id="product-list"></div>
    <div id="product-arrow-right">
      <span class="product-arrow-left"></span>
    </div>
  </div>
</div>

<br class="clear" />
