<!--
  
  NOTE: 
  index.jst.ejs 
  intentionally left blank.

  the SpreeWizard.Views.Product.Index specifies el: '#product-list'

  therefore, we append step instance views to that el: '#product-list' rather
  than putting more HTML here.

-->

  <div id="selection-header">
    <h2>Choose your:</h2>
    <h5>Sort by:</h5>
    <select id="product-sort">
      <option value="recommended">Recommended</option>
      <option value="size">Size</option>
    </select>
    <h5>Filter by:</h5>
    <select id="product-filter">
      <option value="recommended">Recommended</option>
      <option value="size">Size</option>
    </select>
  </div>
  <br class="clear" />
