<div id="selection-header">
  <h2>Choose your:</h2>
  <h5>Sort by:</h5>
  <select id="product-sort">
    <option value="recommended">Recommended</option>
    <option value="size">Size</option>
  </select>
  <h5>Filter by:</h5>
  <select id="product-filter">
    <option value="recommended">Recommended</option>
    <option value="size">Size</option>
  </select>
</div>

<a href="#" class="product-arrow-left-link">
  <span class="product-arrow-left"></span>
</a>
<a href="#" class="product-arrow-right-link">
  <span class="product-arrow-right"></span>
</a>

<div id="product-container">
  <div id="product-list"></div>
</div>

<br class="clear" />
