<div class="product-box">
  <div class="product-stock">Stock</div>
  <div class="product-image">
    <img src="" />
  </div>
  <div class="product-description">
    <img src="" />
    <p><%= name %></p>
  </div>
  <div class="product-price-difference">
    <p><%= price %></p>
  </div>
</div>