<div class="product-box">
  <%if ( true && announcement ) { %>
    <div class="product-announcement">Info</div>
  <% } %>
  <div class="product-image">
    <img src="<%= attachment_url %>" />
  </div>
  <div class="product-description">
    <img src="" />
    <p><%= name %></p>
  </div>
  <div class="product-price-difference">
    <p><%= price %></p>
  </div>
</div>
