<div class="taxon">
  <div class="taxon-header">
    <h5><span class="taxon-number">1 </span>Deck</h5>
  </div>
  <div class="taxon-image">
    <img></img>
  </div>
  <div class="taxon-description">
    <p>Landyachtz Dinghy Mini Longboard Skateboard Deck w/ Grip</p>
  </div>
</div>
<div class="taxon selected">
  <div class="taxon-header">
    <h5><span class="taxon-number">2 </span>Trucks</h5>
  </div>
  <div class="taxon-image">
    <img></img>
  </div>
  <div class="taxon-description">
    <p>Choose Trucks Here</p>
  </div>
</div>
<div class="taxon">
  <div class="taxon-header">
    <h5><span class="taxon-number">3 </span>Wheels</h5>
  </div>
  <div class="taxon-image">
    <img></img>
  </div>
  <div class="taxon-description">
    <p>Choose Wheels Here</p>
  </div>
</div>
<div class="taxon">
  <div class="taxon-header">
    <h5><span class="taxon-number">4 </span>Bearings</h5>
  </div>
  <div class="taxon-image">
    <img></img>
  </div>
  <div class="taxon-description">
    <p>Choose Bearings Here</p>
  </div>
</div>