<div class="taxon-header">
  <h5><span class="taxon-number">1</span><%= name %></h5>
</div>
<div class="taxon-image">
  <img></img>
</div>
<div class="taxon-description">
  <p>Selected Product Details (set when user selects product)</p>
</div>


