<h5><span class='taxon-number'><%= id %></span><%= name %></h5>

<div class='selected-product' price="0" >
  <img src=''></img>
</div>

<div class='taxon-description'>
  <p></p>
</div>
<input type='hidden' class='selected-product-id' value='1' />


