<h1>Listing wizards</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wizards.each do |wizard| %>
  <tr>
    <td><%= wizard.name %></td>
    <td><%= link_to 'Show', wizard %></td>
  </tr>

  
<% end %>
</table>

<div id="wizards">
  	<div class="wizard">
  		<p>Wizard 1</p>
  	</div>
  	<div class="wizard">
  		<p>Wizard 2</p>
  	</div>
  	<div class="wizard">
  		<p>Wizard 3</p>
  	</div>
  	<div class="wizard">
  		<p>Wizard 4</p>
  	</div>
  </div>

<br />

