<h1>Listing wizards</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wizards.each do |wizard| %>
  <tr>
    <td><%= wizard.name %></td>
    <td><%= link_to 'Show', wizard %></td>
  </tr>
<% end %>
</table>

<br />

