<%= tag :div, id: 'wizard', data: { wizard_id: @wizard.id } %>
<div class="columns twelve alpha" id="product-list">
	<h3>Selected Taxon Name</h3>
	<div class="product">
		<h6>Product Name</h6>
	</div>
	<div class="product">
		<h6>Product Name</h6>
	</div>
	<div class="product">
		<h6>Product Name</h6>
	</div>
	<div class="product">
		<h6>Product Name</h6>
	</div>
	<div class="product">
		<h6>Product Name</h6>
	</div>
	<div class="product">
		<h6>Product Name</h6>
	</div>
</div>
<div class="columns four omega" id="taxon-list">
	<div class="taxon">
		<h6>Taxon Name</h6>
		<img class="taxon-thumb" height="100" width="100" />
	</div>
	<div class="taxon">
		<h6>Taxon Name</h6>
		<img class="taxon-thumb" height="100" width="100" />
	</div>
	<div class="taxon">
		<h6>Taxon Name</h6>
		<img class="taxon-thumb" height="100" width="100" />
	</div>
</div>