<script type="text/javascript">
	
	$(document).ready(function(){
		
		var wizard_id = 1;

		var model = new SpreeWizard.Models.Product({id: wizard_id});

		var products_array = new Array(model);

		var products = new SpreeWizard.Collections.ProductsCollection(products_array);
		
		var view = new SpreeWizard.Views.Products.IndexView({products: products})

	// 	$.ajax({
	// 	  url: '/wizards/1',
	// 	  dataType: 'json',
	// 	  success: function (data) {
	// 	    products = new SpreeWizard.Collections.Products(data[0]);
	// 	  }
	// 	});


	// 	new SpreeWizard.Views.Products.ShowView();
		
	// });
	
</script>

<div id="example">
	<p>this is an example of the css affecting the page</p>
</div>


<p>
  <b>Name:</b>
  <%= @wizard.name %>
</p>



<div id="wizard-frame">
	<h2>Your Custom Complete with Premium Upgrades:</h2>
	
	<% @wizard.taxons.each_with_index do |taxon, index| %>
	<div class="wizard-box">
		<div class="header">
			<h5><%= index + 1 %> <%= taxon.name %></h5>
		</div>
		<div class="taxon" id="taxon-<%= taxon.id %>">
				
		</div>
	</div>
	<% end %>
</div>

<div id="product-selection">
	<div id="selection-header">
		<h2>Choose your product:</h2>
		<h5>Sort:</h5>
		<select id="product-sort">
			<option value="recommended">Recommended</option>
			<option value="size">Size</option>
		</select>
		<h5>Filter</h5>
		<select id="product-filter">
			<option value="recommended">Recommended</option>
			<option value="size">Size</option>
		</select>
	</div>
	<br class="clear" />
	<!-- this will change to @wizard.products or something similar -->
	<div id="product-container">
	</div>
</div>

<div id="product-frame">
	<div class="left">
		<div class="product-photo">
			<img src="" />
		</div>
	</div>
	<div class="product-info right">
		<div class="product-name">
			<p>180mm Randal RII - Raw - Longboard Skateboard Truck</p>
		</div>
		<div class="upgrade-price">
			<p>Upgrade Price: Same Price</p>
		</div>
		<div class="product-option">
			<p>Truck Option</p>
			<select class="product-option-select">
				<option value="50">50</option>
				<option value="40">40</option>
			</select>
		</div>
		<div class="add-item">
			<button type="button">Add Item</button>
		</div>
		<div class="product-description">
			<h5>Description:</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a nibh in nisi vehicula pretium eleifend id libero. Donec in accumsan augue, et ornare tellus. Vivamus commodo libero neque, non dictum velit dictum non. In eget lacinia sem. Aenean a leo ut eros hendrerit sodales tristique ac velit. In blandit vestibulum libero, in sodales nibh blandit eget. Aliquam laoreet magna quis urna faucibus, vitae blandit sapien sodales. Sed ac gravida odio. Ut vel nisl ut turpis semper aliquam ac et nisl. Ut ultrices libero at varius sollicitudin. Praesent non aliquam quam.</p>

			<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sed mauris eget metus aliquam posuere ac ut risus. Nulla lacinia blandit magna tincidunt pellentesque. Ut accumsan tortor et sem blandit, non scelerisque risus posuere. Nullam vulputate, dui quis pharetra commodo, arcu diam ultricies urna, dictum pretium neque nibh ac neque. Ut interdum magna sit amet leo ornare egestas. Vestibulum molestie sed diam vitae euismod. Sed interdum accumsan tempus. Nunc imperdiet enim a euismod imperdiet. Aliquam orci nibh, vehicula vel placerat nec, varius id magna. Cras accumsan pharetra dictum. Vivamus et venenatis arcu, vitae aliquet ligula. Sed eget ligula tortor. Duis elit enim, viverra eu feugiat a, cursus nec magna.</p>
		</div>
	</div>
	<br class="clear" />
</div>

