<script type="text/javascript">
  $(document).ready(function(){
    
    // initialize model with id
    var wizard = new SpreeWizard.Models.Wizard({id: <%= @wizard.id %>});
    
    // pull down nested data structure from controller
    wizard.fetch({
      success: function(model, response, options){
        
        // create a view instance
        // renders by default on initialize callback
        new SpreeWizard.Views.Wizards.ShowView({model: model});

        // initialize the wizard steps
        // explicitly creates collection and renders index view
        model.initializeSteps();
          
      }
    });
  });
</script>


<% # Backbone models/views/templates take care of the rest %>
<% # see /app/javascripts/backbone/**/*.* for more info %>

<div id="wizard"></div>