<script type="text/javascript">
	$(document).ready(function(){
		
		// bootstrap the wizard model and view
		// 
		var wizard = new SpreeWizard.Models.Wizard(<%= @wizard.to_json.html_safe -%>);
		var view = new SpreeWizard.Views.Wizards.ShowView({model: wizard});

    console.log(wizard.attributes);
	});
</script>

<div id="wizard"></div>


<% # Backbone models/views/templates take care of the rest %>
<% # see /app/javascripts/backbone/**/*.* for more info %>
