<script type="text/javascript">
  $(document).ready(function(){
    
    // initialize model with id
    var wizard = new SpreeWizard.Models.Wizard({id: <%= @wizard.id %>});
    
    // pull down nested data structure from controller
    wizard.fetch({
      success: function(wizard_model, response, options){
        
        // create and render Marionette ItemView
        var wizard_show_view = new SpreeWizard.Views.Wizards.ShowView({model:wizard_model});
        wizard_show_view.render();
      }
    });
  });
</script>

<div id="wizard" ></div>
