/*
 *= require store/spree_frontend
 *= require ./wizards
*/

/*#example {
  font-weight: bold;
}
*/

.left {
	float:left;
}

.right {
	float:right;
}

#wizard-frame, #product-selection {
	height:300px;
	width:100%;
	margin-bottom:20px;
}
#product-frame {
	min-height:500px;
	width:100%;
	margin-bottom:20px;
}
.taxon {
	border:1px solid black;
	height:200px;
}

.wizard-box {
	float:left;
	text-align:center;
	width:200px;
	height:200px;
	margin-right:10px;
}

.product {
	float:left;
	text-align:center;
	width:200px;
	height:200px;
	margin-right:10px;
	border:1px solid black;
	height:200px;
}

#selection-header h2, h5, select {
	display:inline;
}

#selection-header h5 {
	margin-left:100px;
}

.product-photo, .product-name, .upgrade-price, .product-option, .add-item, .product-description {
	border:1px solid black;
	width:100%;
	margin-bottom:5px;
}

.product-photo {
	height:250px;
	width:250px;
	margin:10px;
}
.product-photo img {
	height:100%;
	width:100%;
}
.product-info {
	width:600px;
}

.product-name {
	padding:5px 0 5px 0;
}
.product-name p {
	font-weight:bold;
	font-size:30px;
	line-height:30px;
	margin:0;
	padding:0;
}

.upgrade-price{

}