z
/*
*
* spree_wizard
*
*/

#example {
  font-weight: bold;
}

h1, h2, h3, h4, h5, p {
	color:white;
}

.left {
	float:left;
}

.right {
	float:right;
}

h2 {
	color:white;
}

#wizard-frame  {
	height:300px;
	width:100%;
	margin-bottom:20px;
	background: linear-gradient(to bottom,#1f1f1f 0,#525252 5%,#525252 26%,#000 62%,#262626 84%,#545454 100%);
	color:white;
	border-radius:10px;
}

#product-selection {
	background:#f7f7f7;
}

#product-selection h1, 
#product-selection h2, 
#product-selection h3, 
#product-selection h4, 
#product-selection h5, 
#product-selection p {
	color:black;
}

#product-frame {
	min-height:500px;
	width:100%;
	margin-bottom:20px;
	background: #526884;
}
#left-product-nav {
	float:left;
	width:45px;
	height:100%;
	font-size:32px;
}

#right-product-nav {
	position:absolute;
	right:0;
	top:0;
	width:45px;
	height:100%;
	background-color:white;
	font-size:32px;
	text-align:right;
}

#wizard-header {}

.header-text {
	margin-left:10px;
	display:inline-block;
}

.subtotal {
	margin-left:100px;
	display:inline-block;
}

.subtotal h3 {
	color:white;
}

.add-cart {
	display:inline-block;
	margin-left:10px;
}

.add-cart button {
	width:140px;
	height:30px;
	margin-top: -10px;
}

.taxon {	
	width:150px;
	height:100%;
	float:left;
	margin-right:15px;
	color:white;
}

.taxon-header {
	background-color:#1b2f4e;
	text-align:left;
	width:75%;
	margin:0 auto 10px auto;

	h5 {
		color:white;
	}

	span {
		margin:10px;
	}
}

.taxon-image img {
	height:117px;
	width:117px;
	background-color:white;
	border:3px solid white;
	border-radius:5px;
}

.selected-product {
	img {
		height:117px;
		width:117px;
		background-color:white;
		border:3px solid white;
		border-radius:5px;
	}
}

.selected > .taxon-image img {
	border:3px solid #0f5eb7;
	border-radius: 5px;
}

.selected > .taxon-header {
	background-color:#0f5eb7;
}

.wizard-box {
	text-align:center;
	width:100%;
	height:250px;
	margin-right:10px;
}

#review-share-box {
	width:200px;
	float:right;
}

#review-finish{
	height:20px;
	width:150px;
	margin:0 auto;
	background: linear-gradient(to bottom,#365d8f 0,#1a2d4f 80%,#1a2d4f 100%);
	padding:8px;
}

#review-finish h5 {
	color:white;
}

#product-container {
	height:350px;
	left:55px;
	position:relative;
	/*overflow: auto;*/
}

.product {
	background:#8d8d8d;
	border:1px solid #adaeb1;
	border-radius:5px;
	width:152px;
	position:relative;
	padding:3px;
	margin:8px;
	text-align:center;
	float:left;
}

.product-box {
	background:#ffffff;
	border:1px solid #6e6e75;
	height:270px;
	overflow:hidden;
	width:150px;
}

.product-announcement {
	background:linear-gradient(to bottom,#1a1a1a 0,#969696 4%,#4f4f4f 25%,#3b3b3b 74%,#3b3b3b 100%);
	border-radius:0 0 4px 4px;
	height:17px;
	padding-top:5px;
	position:absolute;
	left:27px;
	width:105px;
}

#selection-header h2, h5, select {
	display:inline;
}

#selection-header h5 {
	margin-left:90px;
}

.product-photo {
	height:250px;
	width:250px;
	margin:10px;
}

.product-image img{
	height: 120px;
	line-height: 120px;
	margin-top: 40px;
	position: relative;
	text-align: center;
	width: 150px;
}

.product-description {
	padding: 2px 5px;
}

.product-name {
	padding:5px 0 5px 0;
}

.product-name p {
	font-weight:bold;
	font-size:30px;
	line-height:30px;
	margin:0;
	padding:0;
}

.upgrade-price{ }
